{% extends 'store/main.html'%}
{% load static %}
{% block content%}
<div class="row"> 
    
    <h1 style="text-align:center ;">About Us</h1>
    <div ><img  class="col-6 col-lg-12" src="{% static 'images/orioke.jpeg' %}" alt="">
    
    <p>Lorem ipsum dolor sit amet. Sed eaque autem eos reiciendis molestiae aut voluptatem dolorem et corrupti voluptatibus et quos cupiditate est libero atque cum doloremque fuga. Nam magnam reprehenderit ut quod error et numquam quis est dignissimos quas id corporis deleniti. Est facilis ipsum vel perspiciatis dolores et consequatur molestias ut nulla alias ea expedita explicabo.

        Cum laborum ipsam rem deleniti rerum et quis nihil quo excepturi harum. Ad perferendis enim eos alias quia 33 itaque porro est voluptatem ipsa. Vel accusamus quam est sint iure ab illo debitis ut illum rerum sit vero facilis.
        
        A cumque corrupti cum quam repellat in quasi labore aut autem nihil et architecto maxime aut accusantium deleniti. Qui dolores architecto ut placeat necessitatibus sed deserunt doloribus sed ullam distinctio quo optio tempora aut illum quaerat. Ut ipsum incidunt qui laborum ipsum non consequatur facere ut consectetur earum est deleniti facilis ut temporibus illo hic nobis ipsum.</p>
    
    </div>

{% endblock%}