{% extends 'store/main.html' %}
{% load static%}
{% block content %}

{% if user.is_staff %}
<a  href="{% url 'add_article' %}"><button class="btn btn-outline-success rounded">Create New Article</button></a>
        {% endif %}
<header class="article fade-in-image" style="height:400px;background-image: url('https://media.istockphoto.com/id/1355724765/photo/child-girl-with-broccoli-healthy-food-vegan-eating-lifestyle-organic-vegetables-plant-based.jpg?b=1&s=170667a&w=0&k=20&c=RL-75e6pCjTD4akXnkQ1YsxgWQjqMs2sikJIOeji-0Y=') ">
    <h1 class="tip" style="text-align: center;padding-top:150px;">Health Tips</h1>
  </header>

        
        {%for article in articles%}
      <div style="margin-top:50px ;" class=" row post-preview">
        
          <h2 class="post-title">
            {{article.title}}
          </h2>
          <p class="post-subtitle">
            {{article.subtitle}}&nbsp;&nbsp;<a style="text-decoration:none;" href="{% url 'article_detail' article.id %}">Read More....</a>
          </p>
       
        <p class="post-meta">Posted on
          <a href="#"></a>
             {{article.date}}
             
        </p>
      </div>
      
      <hr>


{% endfor %}
{% endblock %}