{% extends 'store/main.html' %}
{% load static%}
{% block content %}
<div class="box-element">
    <a  href="{% url 'article' %}"><button class="btn btn-outline-success my-2 rounded">  Continue Reading</button></a>
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <h2 style="text-align: center;" class="post-title">
            {{article.title}}
          </h2>
          <p style="text-align: center;" class="post-subtitle">
            {{article.subtitle}}
          </p>
        <p style="text-align: right;" > {{article.date}}</p>
      </div>
      <hr>
      <p class="text" > {{ article.body|safe }}</p>
      
            
            
            </div>
            </div>
            {% if user.is_staff %} 
            
            <!-- Button trigger modal -->
<button type="button" class="btn btn-danger rounded" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You sure you want to delete??
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-danger rounded"><a  style="color: white;text-decoration: none;" href="{% url 'delete_article'  article.id %}">Delete</a></button>
      </div>
    </div>
  </div>
</div>
        {% endif %}
      </div>
           

    



{% endblock %}