{% load static  %}
  
  <footer style="margin-left:0px ;" class="footer">
    <h6><i style="font-size:1.5rem ;" class="bi bi-house-fill"></i>&nbsp;Locations:&nbsp;91A egbe road ejigbo,<br>&nbsp;10 Ifoshi road ejigbo</h6><br>
    <h6>Telephone&nbsp;&nbsp;<i class="bi bi-telephone"></i>&nbsp;: 00011122233444&nbsp;&nbsp;</h6>
    <h6> Whatsapp&nbsp;&nbsp;<i class="bi bi-whatsapp">&nbsp;: 000111222333444</i></h6>
    <a class="foot" href="#">Instagram&nbsp;&nbsp;<i class="bi bi-instagram"></i></a>
    <a class="foot" href="#">Twitter&nbsp;&nbsp;<i class="bi bi-twitter"></i></a>
    
    <h6 class="love"> © 2023 Hess Tee Pharmacy </h6>
    <h6  >Made with ❤️ in Lagos</h6>
    
  </footer>

