{% extends 'store/main.html' %}
{% load static%}
{% block content %}

{% load i18n %}
{% load account socialaccount %}
<div style="text-align:center ;padding-top:50px ;padding-bottom:70px ;margin-bottom: 100px;" class="box-element">
<h2>Password Change</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success rounded" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    </div>
{% endblock %}