{
    {% extends 'store/main.html' %}
    {% load static%}
    {% block content %}
    
    {% load i18n %}
    {% load account socialaccount %}
    <div style="text-align:center ;padding-top:50px ;padding-bottom:70px ;margin-bottom: 100px;" class="box-element">
    <h2>Password Reset</h2>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
{% endblock %}